.generator1-main {
    color: white;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 20px;

    .main-left,
    .main-right {
        /* height: auto; */
        width: 100%;
        /* border: 1px solid white; */
    }

    .main-right {
        width: 468px;
        display: flex;
        flex-direction: column;

        /* align-items: center; */
        .alerts-device-info {
            margin-top: 50px;
        }

        .contact-info-card {
            display: flex;
            flex-direction: column;
            padding: 20px;
            /* border-top: 1px solid white; */
            width: 90%;
            /* align-items: center; */

            .contact-info-title {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;

                .contact-heading {
                    color: var(--S3, #DDD);
                    display: flex;
                    align-items: center;
                    /* H3 */
                    font-family: Prompt;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                    /* 155.556% */
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                }
            }

            .contact-details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 30px;

                .detail-card {

                    .email-title,
                    .phone-title {
                        color: var(--S3, #DDD);
                        font-feature-settings: 'clig' off, 'liga' off;
                        opacity: 0.5;
                        /* H5 */
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .email-value,
                    .phone-value {
                        color: var(--Base-White, #FFF);
                        font-feature-settings: 'clig' off, 'liga' off;

                        /* H5 */
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

        }
    }

    .main-left {
        .navigate-dashboard-generator {
            .navigate-section {
                color: var(--S3, #DDD);
                font-feature-settings: 'clig' off, 'liga' off;

                /* H5 */
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .generator-card {
                .heading-battery-temp {
                    display: flex;
                    flex-direction: row;
                    width: 89%;
                    justify-content: space-between;
                    /* border: 1px splid blue; */

                    .heading-genset {
                        /* border: 1px solid white; */
                        color: var(--S3, #DDD);
                        display: flex;
                        align-items: center;
                        /* H3 */
                        font-family: Prompt;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 28px;
                        /* 155.556% */
                        letter-spacing: 1.8px;
                        text-transform: uppercase;
                        margin-top: 30px;
                    }

                    .battery-temp-switch {
                        /* border: 1px solid red; */
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 240px;
                        height: 30px;
                        margin-top: 30px;
                        z-index: 9999;
                        background: transparent;
                        div {
                            display: flex;
                            align-items: center;

                        }

                        .temperature-stat {
                            display: flex;
                            gap: 5px;

                            .temp-icon {
                                width: 29px;
                                height: 29px;
                                background: url("../assets/temperature.png");
                            }

                            .temp-value {
                                color: var(--S3, #DDD);

                                /* H5 */
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }

                        .battery-stat {
                            .battery-icon {
                                width: 20px;
                                height: 25px;
                                background: url("../assets/battery.png");
                                background-size: cover;
                                background-position: center;
                            }

                            .battery-value {
                                color: var(--S3, #DDD);
                                font-feature-settings: 'clig' off, 'liga' off;

                                /* H5 */
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                        .generator-switch{
                            /* background: white; */
                            z-index: 99999999;
                        }
                    }
                }
            }

            .generator1-main-card-details {
                height: 493px;
                width: 829px;
                /* border: 1px solid white; */
                margin-top: 30px;
                border-radius: 10.403px;
                background: linear-gradient(73deg, rgba(0, 0, 0, 0.00) 50.21%, rgba(25, 152, 139, 0.20) 100%), #0A1517;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                /* gap: 20px; */

                .generator-img {

                    width: 328px;
                    height: 230px;
                    background: url('../assets/generator-main.png');
                    background-size: cover;
                }

                .generator-stats-table {
                    display: flex;
                    width: 385px;
                    height: 228px;
                    /* padding: 26.008px; */
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: 10.403px 0px 0px 10.403px;
                    background: var(--Primary, #062A30);

                    div {
                        background: transparent;
                    }

                    .stats-titles {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        opacity: 0.6;

                        .stat-title {
                            width: 276px;
                            height: 21px;
                            color: var(--S3, #DDD);
                            font-feature-settings: 'clig' off, 'liga' off;

                            /* H5 */
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }

                    .stats-values {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        color: var(--S3, #DDD);
                        font-feature-settings: 'clig' off, 'liga' off;

                        /* H5 */
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                }

                .paramter-values-generator1 {
                    width: 730px;
                    height: 89px;
                    /* border: 1px solid white; */
                    background: transparent;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 30px;

                    .parameter-section {
                        width: 130px;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-evenly;
                        flex-direction: column;
                        /* border: 1px solid red; */
                        background: transparent;
                        border-right: 2px solid var(--S1, #204D4C);
                        ;

                        div {
                            background: transparent;

                            svg {
                                background: transparent;
                            }
                        }

                        .parameter-title {
                            color: var(--P2, #C37C5A);
                            font-feature-settings: 'clig' off, 'liga' off;

                            /* H5 */
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        .parameter-value {
                            color: var(--S3, #DDD);

                            /* H2 */
                            font-family: Poppins;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }

                    #lube-pressure-parameter {
                        border-right: none;
                    }
                }
            }

            .graph-section-bottom {
                /* height: 290px; */
                /* width: 830px; */
                /* border: 1px solid blue; */
                margin-top: 30px;
                display: flex;
                flex-direction: column;

                /* position: relative; */
                .line-chart {
                    /* position: absolute; */
                    /* width: 100%; */
                    /* height: 250px; */
                    /* border: 1px solid white; */
                    /* background: rebeccapurple; */

                }
            }
        }
    }
}