.main-content {
    margin-top: 50px;
    color: white;
    /* border: 1px solid white; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .top-info-card {
        height: 327px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 332px;
        width: 1300px;
        background: #0A1517;
        
        /* padding: 20px 0px; */
        /* border: 1px solid white; */
        gap: 34px;

        .parameters-home-data {
            /* border: 1px solid red; */
            height: 327px;
            width: 926px;
            display: flex;
            align-items: center;
            gap: 20px;
            background: transparent;

            .home-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 261px;
                height: 288px;
                flex-shrink: 0;
                border-radius: 8px;
                background: #172629;
                position: relative;
                margin-left: 20px;


                img {
                    position: absolute;
                    mix-blend-mode: hard-light;
                    background: transparent;


                }
            }

            .parameters-home-stats {
                height: 230px;
                width: 488px;
                /* border: 1px solid white; */
                padding: -20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: transparent;

                .parameters-heading {
                    color: var(--S3, #DDD);
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    background: transparent;
                    /* H3 */
                    font-family: Prompt;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                    /* 155.556% */
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                }

                .parameter-stats {
                    height: 174px;
                    /* border: 1px solid white; */
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    background: transparent;

                    .stat-card {
                        width: 152px;
                        height: 72px;
                        border-right: 2px solid #204D4C;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: column;
                        gap: 10px;
                        background: transparent;

                        svg {
                            height: 28px;
                            width: 28px;

                        }

                        .logo-title {
                            height: 28px;
                            width: auto;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            color: var(--P2, #C37C5A);
                            font-feature-settings: 'clig' off, 'liga' off;

                            /* H5 */
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        .value-stat {
                            color: var(--S3, #DDD);

                            /* H1 */
                            font-family: Poppins;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                    }

                    #power-card,
                    #frequency-card {
                        border-right: none;
                    }
                }
            }
        }

        .power-stat-control {
            /* border: 1px solid greenyellow; */
            width: 327px;
            /* padding: 20px; */
            border-radius: 8px;
            background: #0A1517;
            display: flex;
            flex-direction: column;

            align-items: center;

            .powergen-heading {
                color: var(--S3, #DDD);
                background: transparent;
                /* margin-left: 30px; */
                margin-top: 50px;
                /* H3 */
                font-family: Prompt;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                /* 155.556% */
                letter-spacing: 1.8px;
                text-transform: uppercase;
            }

            .running-time-switch {
                height: 74px;
                /* border: 1px solid red; */
                width: 80%;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: transparent;
                /* background: #0A1517; */

                .running-time {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 113px;
                    height: 73px;
                    background: #0A1517;

                    div {
                        background: #0A1517;
                    }

                    /* border: 1px solid white; */
                    .switch-genset {
                        background: red;
                        /* border: 1px solid red; */
                        width: 80px;

                        
                    }

                    .running-time-heading {
                        color: var(--P2, #C37C5A);
                        font-feature-settings: 'clig' off, 'liga' off;

                        /* H5 */
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .running-time-value {
                        color: var(--S3, #DDD);

                        /* H1 */
                        font-family: Poppins;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }

            }

            .energy-flow {
                /* border: 1px solid greenyellow; */
                position: relative;
                width: 100%;
                height: 100px;
                overflow: hidden;
                /* background: url; */
                video{
                    position: absolute;
                    z-index: 999;
                    top: 0;
                    left: 0;
                    width: 100%;
                    object-fit: conver;
                }
                #video-bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }

    .middle-genset-details-card {
        margin-top: 47px;
        /* border: 1px solid white; */
        width: 1300px;
        height: 400px;

        /*change it later*/
        .middle-heading-dates-filters {
            height: 33px;
            /* border: 1px solid red; */
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .middle-heading {
                color: var(--S3, #DDD);

                /* H3 */
                font-family: Prompt;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                /* 155.556% */
                letter-spacing: 1.8px;
                text-transform: uppercase;
            }

            .middle-right-dates-filters {
                height: 100%;
                display: flex;
                gap: 10px;
                align-items: center;

                div {
                    display: flex;
                }

                .days-selection,
                .calendar-filters {
                    /* border: 1px solid white;
                     */
                    height: 33px;
                    display: flex;
                    align-items: center;
                    /* padding: 11px 7px; */
                    color: var(--S3, #DDD);
                    font-feature-settings: 'clig' off, 'liga' off;

                    /* H6 */
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    div {
                        padding: 7px 12px;
                    }

                }


                .days-selection {
                    display: flex;
                    gap: 3px;

                    div {
                        background: var(--Primary, #062A30);
                        box-shadow: 0px 0.728px 1.456px 0px rgba(16, 24, 40, 0.05);
                    }

                }

                .calendar-filters {
                    display: flex;
                    gap: 7px;

                    div {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        background: var(--Primary, #062A30);
                        box-shadow: 0px 0.728px 1.456px 0px rgba(16, 24, 40, 0.05);
                    }

                }



            }
        }

        .middle-card-row {
            display: flex;
            width: 100%;
            height: 385px;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
            margin-top: 20px;

            .genset-card-route {
                height: 385px;
                width: 638px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 25px;
                align-items: center;

                background: #030F0E;

                .genset-icon-parameters-cards {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    background: #030F0E;
                    gap: 20px;
                    justify-content: space-between;
                    align-items: flex-end;

                    /* padding-bottom: 20px; */
                    div {
                        background: #030F0E;
                        /* border: 1px solid white; */
                    }

                    .genset-img-generator {
                        width: 140px;
                        height: 100px;
                        background: url("../assets/generator-img.png");
                        background-size: cover;
                        margin-right: 20px;
                    }

                    .parameter-card {
                        width: 160px;
                        height: fit-content;
                        display: flex;
                        flex-direction: row;
                        gap: 12px;

                        .parameter-stats {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .paramter-value {
                                color: var(--Grey-1, #FFF);

                                /* txt-lg/semi-bold */
                                font-family: Poppins;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 28px;
                                /* 155.556% */
                            }

                            .paramter-heading {
                                color: var(--Antique-copper-5, var(--P2, #C37C5A));

                                /* txt-xs/Medium */
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                        }
                    }
                }

                .genset-stats-table {
                    display: flex;
                    flex-direction: row;
                    background: transparent;

                    .table-left,
                    .table-right {
                        width: 302px;
                        border-radius: 8px 0px 0px 8px;
                        background: var(--Teal-8, #0A3D38);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 10px;

                        div {
                            background: transparent;
                        }

                        padding: 20px;

                        .stats-titles {
                            color: var(--Grey-2, #CACCCC);
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            /* txt-sm/Medium */
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            /* 157.143% */
                        }

                        .stats-values {
                            color: var(--Grey-1, #FFF);
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            /* txt-sm/Medium */
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            /* 157.143% */
                        }
                    }

                    .table-right {
                        background: #0F5B53;
                        border-radius: 0px 8px 8px 0px;

                    }

                }

            }
            #genset-2{
                opacity: 0.2;
                .genset-icon-parameters-cards{
                    display: flex;
                    flex-direction: row-reverse;
                    .genset-img-generator{
                        background: url("../assets/generator-mirror-img.png");
                        background-size: cover;
                    }
                }
            }
        }

    }

    .bottom-graph-card {
        margin-top: 150px;
        width: 100%;
        height: 223px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #0A1517;
        /* border: 1px solid red; */
        position: relative;

        .genset-chart {
            position: absolute;
            width: 100%;
            height: 220px;
            background: #0A1517;

        }



    }
}

/* .energy-flow{
    animation: movelines 5s linear infinite;
}

@keyframes movelines{
    0%{background-position: 0 0;}
    100%{background-position: 100px 0;}
} */